<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Tvzon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<applicationSettings>
		<Tvzon.Properties.Settings>
			<setting name="Channels" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>svt1hd.svt.se</string>
						<string>svt2hd.svt.se</string>
						<string>hd.tv3.se</string>
						<string>hd.tv4.se</string>
						<string>film.tv4.se</string>
						<string>news.tv4.se</string>
						<string>hd.kanal5.se</string>
						<string>tv6.se</string>
						<string>sjuan.se</string>
						<string>tv8.se</string>
						<string>kanal9.se</string>
						<string>discoverychannel.se</string>
						<string>disneychannel.se</string>
						<string>kunskapskanalen.svt.se</string>
						<string>svtb-svt24.svt.se</string>
						<string>emotion.cmore.se</string>
						<string>sf-kanalen.cmore.se</string>
						<string>first.cmore.se</string>
						<string>series.cmore.se</string>
						<string>hitshd.cmore.se</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="OutputPath" serializeAs="String">
				<value>C:\ProgramData\DVBLogic\DVBLink\xmltv\tvzon.xml</value>
			</setting>
			<setting name="Days" serializeAs="String">
				<value>15</value>
			</setting>
			<setting name="DaysInHistory" serializeAs="String">
				<value>14</value>
			</setting>
			<setting name="InsertEpisodeInDesc" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="TvNuMappings" serializeAs="Xml">
				<value>
					<SerializableStringDictionary>
						<ArrayOfAnyType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
							<anyType xsi:type="Node">
								<key>first.cmore.se</key>
								<val>c-more-first</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>sf-kanalen.cmore.se</key>
								<val>sf-kanalen</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>series.cmore.se</key>
								<val>c-more-series</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>emotion.cmore.se</key>
								<val>c-more-emotion</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>hitshd.cmore.se</key>
								<val>c-more-hits-hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>svt1.svt.se</key>
								<val>svt1</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>svt2.svt.se</key>
								<val>svt2</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>svt1hd.svt.se</key>
								<val>svt1hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>svt2hd.svt.se</key>
								<val>svt2hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tv3.se</key>
								<val>tv3</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>hd.tv3.se</key>
								<val>tv3hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tv4.se</key>
								<val>tv4</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>hd.tv4.se</key>
								<val>tv4hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>kanal5.se</key>
								<val>kanal5</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>hd.kanal5.se</key>
								<val>kanal5hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>fakta.tv4.se</key>
								<val>tv4fakta</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>film.tv4.se</key>
								<val>tv4film</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>sport.tv4.se</key>
								<val>tv4sport</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>news.tv4.se</key>
								<val>tv4news</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tv6.se</key>
								<val>tv6</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tnt-tv.se</key>
								<val>tv7</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>sjuan.se</key>
								<val>sjuan</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tv11.tv4.se</key>
								<val>tv11</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tv8.se</key>
								<val>tv8</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>kanal9.se</key>
								<val>kanal9</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tv10.se</key>
								<val>tv10</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>axess.se</key>
								<val>axesstv</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>showtime.nonstop.tv</key>
								<val>showtime</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>silver.nonstop.tv</key>
								<val>silver</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tcmeurope.com</key>
								<val>tcm</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>eurosport.se</key>
								<val>eurosport</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>eurosport2.se</key>
								<val>eurosport2</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>kanalglobal.se</key>
								<val>kanalglobal</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>animalplanet.se</key>
								<val>animalplanet</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>discoverychannel.se</key>
								<val>discovery</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>science.discoverychannel.com</key>
								<val>discoveryscience</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>tlcsverige.se</key>
								<val>tlc</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>hd.natgeo.se</key>
								<val>nationalgeographichd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>cartoonnetwork.se</key>
								<val>cartoonnetwork</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>disneychannel.se</key>
								<val>disneychannel</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>xd.disneychannel.se</key>
								<val>disneyxd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>bbcworldnews.com</key>
								<val>bbcworld</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>nickelodeon.se</key>
								<val>nickelodeon</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>comedycentral.tv</key>
								<val>comedycentral</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>mtv.se</key>
								<val>mtv</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>hd.mtv.se</key>
								<val>mtvn-hd</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>star.nonstop.tv</key>
								<val>star!</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>vh1.se</key>
								<val>vh1</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>cnn.com</key>
								<val>cnn</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>kunskapskanalen.svt.se</key>
								<val>kunskapskanalen</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>svtb-svt24.svt.se</key>
								<val>barnkanalen</val>
							</anyType>
							<anyType xsi:type="Node">
								<key>travelchanneltv.se</key>
								<val>travel</val>
							</anyType>
						</ArrayOfAnyType>
					</SerializableStringDictionary>
				</value>
			</setting>
			<setting name="WriteToLog" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="PreviousShownDuration" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="ChannelSettings" serializeAs="String">
				<value >
					{
					channels: [
						{
							channelId: "hitshd.cmore.se",
							monday: { start: "07:00", end:"16:30"},
							tuesday: { start: "00:30", end:"16:30"},
							wednesday: { start: "00:30", end:"16:30"},
							thursday: { start: "00:30", end:"16:30"},
							friday: { start: "00:30", end:"23:59"},
							saturday: { start: "00:00", end:"07:00"},
							sunday: { start: "00:00", end:"00:00"}
						},
						{
							channelId: "emotion.cmore.se",
							monday: { start: "01:00", end:"18:30"},
							tuesday: { start: "01:00", end:"18:30"},
							wednesday: { start: "01:00", end:"18:30"},
							thursday: { start: "01:00", end:"18:30"},
							friday: { start: "01:00", end:"18:30"},
							saturday: { start: "00:00", end:"00:00"},
							sunday: { start: "00:00", end:"00:00"}
						},
						{
							channelId: "sf-kanalen.cmore.se",
							monday: { start: "01:00", end:"18:00"},
							tuesday: { start: "01:00", end:"18:00"},
							wednesday: { start: "01:00", end:"18:00"},
							thursday: { start: "01:00", end:"18:00"},
							friday: { start: "01:00", end:"18:00"},
							saturday: { start: "01:00", end:"12:00"},
							sunday: { start: "01:00", end:"12:00"}
						}
					]
					}
				</value>
			</setting>
		</Tvzon.Properties.Settings>
	</applicationSettings>
</configuration>